* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    padding: 2rem;

    min-height: 100dvh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg1.svg);
    background-color: #d5ccc2;
}

@media screen and (max-width: 768px){
    .about {
        flex-direction: column;
    }
}

.about-logo {
    width: 75%;
}


.about-logo img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.596));
}

.about-content {
    margin-top: 3rem;
}

.about-picture img {
    width: 30%;
    height: auto;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.596));
}

@media screen and (max-width: 768px) {
    .about-picture img {
        width: 75%;
    }
}