.contacts-flex {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: .8rem;
    font-family: "Roboto Condensed", sans-serif;
}

.page.contact {
    background-image: url(../images/general/contact_karolina.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #efe3d7;
    color: var(--custom-brown);
    padding-bottom: 0;
}

.page-content.contact {
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    margin-top: 2rem;
    padding: 2rem;
}

.text.contact {
    color: var(--custom-brown);
}

.hover-scale:hover {
    transform: scale(1.2);
    transition: 200ms;
}

.recommendations-section {
    margin-top: 8rem;
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
