.logo-gallery {
    align-self: center;
}

.gallery-nav {
    backdrop-filter: blur(1rem);
    transition: background-color 300ms;
    position: sticky;
    gap: 1rem;
    inset: 0;
    z-index: 100;
    color: var(--text);
}

.gallery-nav.scrolled {
    background-color: var(--custom-brown);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.929);
}

.gallery-nav-ul {
    border: 1px solid var(--text);
    color: var(--custom-brown);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scrolled .gallery-nav-ul  {
    color: #eefbfc;
    text-shadow: 0.1rem 0.1rem .24rem var(--text);
    border: none;
}

.gallery-nav-item:hover {
    transform: scale(1.2);
    transition: 200ms;
}

.scrolled .gallery-nav-item:hover,
.scrolled .gallery-nav-item.active {
    color: var(--custom-yellow);
}

.nav-ig {
    padding: 10px;
    padding-top: 14px;
    position: absolute;
    inset: 0;
    z-index: 999;
    width: fit-content;   
}

.ig-svg {
    fill: var(--custom-brown);
    width: 1.8rem;
    height: 1.9rem;
    margin-left: 2rem;
}

.ig-svg.scrolled {
    fill: #eefbfcff;
}

.ig-svg:hover {
    transform: scale(1.2);
    transition: 300ms;
}

.gallery-img:hover {
    transform: scale(1.1);
    transition: transform 200ms;
    cursor: pointer;
    filter: sepia(100%) saturate(80%);
}

.modal-img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn-close {
    position: absolute;
    cursor: pointer;
    background-color: var(--custom-brown);
    background-image: url("/images/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    border: .5rem solid transparent;
    box-sizing: content-box;
}

.btn-close:hover {
    rotate: 90deg;
    transition: 500ms;
}

.video-wrapper {
    height: 44.5vw;
}
