:root {
    --nav-text: #eefbfc;
}

@media screen and (max-width: 600px) {
    .page-gallery.scrolled-menu::after {
        content: "";
        position: fixed;
        inset: 0;
        background-color: var(--nav-text);
        width: 100%;
        height: 80px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 600px) and (-moz-device-pixel-ratio: 2) {
    .page-gallery.scrolled-menu::after {
            margin-top: 1rem;
    }
}

.logo-gallery {
    align-self: center;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .logo-gallery.scrolled-menu {
        position: sticky;
        inset: 0;
        top: 5px;
        margin: 0;
        z-index: 99;
    }

    .logo-gallery.scrolled-menu img {
        width: 90px;
    }
    
}

@media screen and (max-width: 330px) {
    .logo-gallery img {
        width: 150px;
    }
}

.gallery-nav {
    backdrop-filter: blur(1rem);
    transition: background-color 300ms;
    position: sticky;
    gap: 1rem;
    inset: 0;
    z-index: 100;
    color: var(--text);
}

.gallery-nav.scrolled-menu {
    background-color: var(--custom-brown);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.929);
}

@media screen and (max-width: 600px) {
    .gallery-nav.scrolled-menu {
        top: 56px;
    }
}

.gallery-nav-ul {
    border: 1px solid var(--text);
    color: var(--custom-brown);
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

@media screen and (max-width: 500px) {
    .gallery-nav-ul {
        font-size: 0.75rem;
        gap: 1rem;
    }
    
}

.scrolled-menu .gallery-nav-ul  {
    color: var(--nav-text);
    text-shadow: 0.1rem 0.1rem .24rem var(--text);
    border: none;
}

.gallery-nav-item:hover {
    transform: scale(1.2);
    transition: 200ms;
}

.scrolled-menu .gallery-nav-item:hover,
.scrolled-menu .gallery-nav-item.active {
    color: var(--custom-yellow);
}

.nav-ig {
    padding: 10px;
    padding-top: 14px;
    position: absolute;
    inset: 0;
    z-index: 999;
    width: fit-content;   
}

@media screen and (max-width: 600px) {
    .nav-ig {
        top: -100px;
        left: 12.5vw;
        z-index: -1;
    }
}

@media screen and (max-width: 450px) {
    .nav-ig {
        left: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-ig.scrolled-menu {
        padding: 0;
    }
    
}

.ig-svg {
    fill: var(--custom-brown);
    width: 1.8rem;
    height: 1.9rem;
    margin-left: 2rem;
}

.ig-svg.scrolled-menu {
    fill: #eefbfcff;
}

@media screen and (max-width: 600px){
    .ig-svg {
        margin-left: 0;
    }

    .ig-svg.scrolled-menu {
        fill: var(--custom-brown);
        position: sticky;
        top: 15px;
        margin-left: 0;
    }
}

.ig-svg:hover {
    transform: scale(1.2);
    transition: 300ms;
}

@media screen and (max-width:600px) {
    .page-content.gallery.scrolled-menu {
        padding-top: 8rem;
    }
}

.gallery-img:hover {
    transform: scale(1.1);
    transition: transform 200ms;
    cursor: pointer;
    /* filter: sepia(100%) saturate(80%); */
}

.modal-img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn-close {
    position: absolute;
    cursor: pointer;
    background-color: var(--custom-brown);
    background-image: url("/images/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    border: .5rem solid transparent;
    box-sizing: content-box;
}

.btn-close:hover {
    rotate: 90deg;
    transition: 500ms;
}

.video-wrapper {
    height: 40vw;
}

@media screen and (max-width: 1000px) {
    .video-wrapper {
        height: 70vw;
    }
}

@media screen and (max-width: 700px) {
    .video-wrapper {
        height: 150vw;
    }
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.play-btn:hover {
    transform: scale(1.2);
    transition: 300ms;
}

.hidden {
    display: none;
}