
:root {
    --logo-background: #ffffff;
    --custom-brown: #805f46ff;
    --custom-blue: #dff1f3ff;
    --custom-orange: #ffe2d4ff;
    --custom-yellow: #f9e7cfff;
    --light-brown: #efe3d7;
    --text: #513017;
}

::selection {
    background-color: var(--custom-brown);
    color: var(--light-brown);

}

* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.h-1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--custom-orange);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.596))
}

.h-2 {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    display: inline;
    color: #eefbfc;
    text-shadow: 0.1rem 0.1rem .24rem var(--text);
}

.h-2::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1rem;
    background-image: url(../images/sponka.svg);
    background-repeat: no-repeat;
    bottom: -1rem;
    left: -5px;
}

.h-2.underline-centered::after {
    left: 50%;
    transform: translateX(-50%);
}

.h-2 + * {
    margin-top: 1rem;
}

.h-3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: var(--custom-brown);
}

.list-undecorated {
    list-style: none;
}

.text {
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 1rem;
}

.italic {
    font-style: italic;
    font-weight: 300;
}

.big {
    font-size: 1.7rem;
}

.emphasized {
    font-weight: 600;
}

.tip {
    color: var(--light-brown);
    background-color: var(--custom-brown);
    font-weight: 700;
    padding-left: .2rem;
    padding-right: .2rem;
    margin-right: .1rem;
}

.link {
    color: var(--custom-brown);
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid var(--custom-brown);
    box-shadow: inset 0 -1px 0 var(--custom-brown);
    transition: box-shadow 370ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

.link:hover {
    box-shadow: inset 0 -2em 0 var(--custom-brown);
    border-bottom: 2px solid var(--custom-brown);
    color: #efe3d7;
}

.scrolled {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.929);
    background-color: #805f46cd;
    backdrop-filter: blur(1rem);
}

.pr-6 {
    padding-right: 6rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mb-02 {
    margin-bottom: 0.2rem;
}

.mi-10 {
    margin-inline: 10rem;
}

/* __content page__ */
.page {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    gap: 4rem;
    min-height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg1.svg);
    background-color: var(--light-brown);
}

@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
    }
}

.page-gallery {
    flex-direction: column;
    gap: 0;
}

.page-logo img {
    width: 300px;
    height: auto;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.596));
}

.page-content {
    margin-top: 3rem;
    width: 100%;
}

.page-picture img {
    width: 30%;
    height: auto;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.596));
}

@media screen and (max-width: 768px) {
    .page-picture img {
        width: 75%;
    }
}

.content-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .content-flex {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.content-banner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 2rem;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
}

/* specifics */

.contacts-flex {
    font-size: 1.5rem;
    color: var(--custom-brown);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: .8rem;
    font-family: "Roboto Condensed", sans-serif;
}

.gallery-nav {
    gap: 1rem;
    margin-bottom: 3rem;
    position: sticky;
    inset: 0;
    z-index: 100;
}   

.gallery-nav-ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gallery-nav {
    color: var(--text);
}

.gallery-nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.scrolled .gallery-nav-ul {
    color: #eefbfc;
    text-shadow: 0.1rem 0.1rem .24rem var(--text);
}

.scrolled .gallery-nav-ul .gallery-nav-item:hover {
    color: var(--custom-yellow);
}

.gallery-img:hover {
    transform: scale(1.1);
    transition: transform 200ms;
    cursor: pointer;
    filter: sepia(100%);
}
