* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-background: #ffffff;
  --custom-brown: #805f46ff;
  --custom-blue: #dff1f3ff;
  --custom-orange: #ffe2d4ff;
  --custom-yellow: #f9e7cfff;
}

p {
  color: var(--custom-brown)
}