* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-background: #ffffff;
    --custom-brown: #805f46ff;
    --custom-blue: #dff1f3ff;
    --custom-orange: #ffe2d4ff;
    --custom-yellow: #f9e7cfff;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: url(../images/bg-marble.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #a0a78a;
}

@media screen and (max-width: 768px){
    .intro-box {
        background-image: url(../images/bg-marble-small.webp);
    }
}

.intro-container {
    width: clamp(300px, 60%, 600px);
    aspect-ratio: 1.1;
    display: flex;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--logo-background);
    border: 4rem solid var(--logo-background);
    border-radius: 50%;
    box-sizing: content-box;
}

.intro-img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    /* looks better */
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.intro-quote {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    color: black;
    /* background-color: rgba(223, 241, 243, 0.295);
    backdrop-filter: blur(25px); */
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
}

@media screen and (max-width: 768px){
    .intro-quote {
        font-size: 1rem;
    }
}

.fade-in {
    animation: fadeIn 400ms ease-in-out;
}

.bounce {
    animation: bounce 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        width: 150%;

    }
    100% {
        width: 100%;
    }
}
