* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-background: #ffffff;
    --custom-brown: #805f46ff;
    --custom-blue: #dff1f3ff;
    --custom-orange: #ffe2d4ff;
    --custom-yellow: #f9e7cfff;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-image: url(../images/bg-marble.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px){
    .intro-box {
        background-image: url(../images/bg-marble-small.webp);
    }
}

.intro-container {
    width: clamp(200px, 450px, 85vw);
    max-width: 100vh;
    aspect-ratio: 1.1;
    display: flex;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--logo-background);
    border: 4rem solid var(--logo-background);
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

.intro-container:hover {
    scale: 1.1;
    transition: 200ms ease-in-out;
}

@media screen and (max-width: 400px){
    .intro-container {
        border: 2rem solid var(--logo-background);
    }
}

@media screen and (orientation: landscape){
    .intro-container {
        border: 2rem solid var(--logo-background);
    }
}

@media (prefers-color-scheme: dark) {
    .intro-conntainer {
        background-color: var(--logo-background);
        border-color: var(--logo-background);
    }
}

.intro-img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    /* 48% looks better */
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-in {
    animation: fadeIn 400ms ease-in-out;
}

.bounce {
    animation: bounce 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        width: 150%;

    }
    100% {
        width: 100%;
    }
}
