.menu-btn {
  position: fixed;
  top: 2.5rem;
  right: 2rem;
  padding: .5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  font-size: 34px;
  transition: transform 200ms;
}

@media screen and (max-width: 350px) {
  .menu-btn {
    right: 1rem;
    top: 1.5rem;
  }
}

.menu-btn:not(.gallery)::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 1000px) {
  .menu-btn.scrolled {
    top: 10px;
    right: 10px;
    transition: 300ms;
  }
}

.menu-btn.gallery {
  top: 0;
}

@media screen and (max-width: 600px) {
  .menu-btn.gallery {
    top: -100px;
    right: 12.5vw;
  }
}

@media screen and (max-width: 450px) {
  .menu-btn.gallery {
    right: 1rem;
  }
}

.menu-btn.gallery.scrolled-menu {
  padding-top: 8px;
  top: 0;
}

@media screen and (max-width: 600px) {
  .menu-btn.gallery.scrolled-menu {
    top: -55px;
  }
}

.menu-btn:hover {
  transform: scale(1.2);
  transition: transform 200ms;
}